@import '../../../node_modules/normalize.css/normalize.css';
@import '../variables.scss';



.tag {
  font-size: 12px;
  background-color: $gray;
  border-radius: $border-radius;
  padding: 2px 4px;
  display: inline-block;
  margin: 3px 1px;
}

.tag-badge {
  color: $gray;
  background: $white;
  border-radius: 4px;
  padding: 0 4px;
}

.all-tags {
  display: flex;
  justify-content: center;
}