/*
 * Colors
 * ========================================================================== */
 
$blue:                  #e9f0f5;
$grey:                  #ccc;
$grey-dark:             #89949B;
$grey-light:            #f3f3f3;
$red:                   #EA7882;
$green: #bcbc0c;
$teal: #3f7a74;
 
/*
 * Typography
 * ========================================================================== */
 

$base-font-size: 16px;
$small-font-size: 14px;
$large-font-size: 25px;

/*
 * Layout
 * ========================================================================== */
 
$max-content-width:     1000px;



$border-thickness: 2px;
$border-radius: 4px;

